<%= form_for :session, url: session_path do |form| %>
  <div class="mb-6">
    <%= form.label :email, class: label_class %>
    <%= form.email_field :email, class: field_class %>
  </div>
  <div class="mb-6">
    <%= form.label :password, class: label_class %>
    <%= form.password_field :password, class: field_class %>
  </div>
  <div class="text-center">
    <%= form.submit class: blue_button_class("min-w-full") %>
  </div>
  <div class="flex flex-row items-center justify-between my-4">
    <%= link_to t(".sign_up"), sign_up_path, class: 'text-white' %>
    <%= link_to t(".forgot_password"), new_password_path, class: 'text-white' %>
  </div>
<% end %>
