<div class="mb-6">
  <%= form.label :organisation_name, class: label_class %>
  <%= form.text_field :organisation_name, class: field_class %>
</div>

<div class="mb-6">
  <%= form.label :email, class: label_class %>
  <%= form.text_field :email, class: field_class %>
</div>

<div class="mb-6">
  <%= form.label :password, class: label_class %>
  <%= form.password_field :password, class: field_class %>
</div>
