<div class="flex flex-row items-center justify-between mb-4">
  <div class="mr-auto"><%= header("Dynos") %></div>
  <%= subheader(@pipeline.name) %>
</div>

<%= content_tag(
  :div,
  data: {
    controller: 'live-polling',
    live_polling_interval_milliseconds_value: polling_interval_milliseconds
  }
) do %>
  <button data-action="click->live-polling#togglePolling" data-hello-target="toggle">
    Greet
  </button>

  <div class="shadow-md sm:rounded-lg" id="<%= dom_id @pipeline %>">
    <%= render partial: "pipelines/review_apps", locals: {review_apps: @review_apps} %>
  </div>
<% end %>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<%= link_to("Back to pipelines", pipelines_path, class: blue_button_class) %>

<% if current_user.has_role?(:manager, current_organisation) %>
  <%= link_to("Edit", edit_pipeline_path(@pipeline), class: blue_button_class) %>
  <%= button_to("Destroy this pipeline" , @pipeline, method: :delete, class: red_button_class, form_class: 'inline') %>
<% end %>
