<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Dynoscaler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900">
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/flash" %>

    <div class="container justify-between mx-auto py-5 px-2">
      <%= yield %>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
